common: &common
  adapter: postgresql
  host: localhost
  username: chaffeqa
  pool: 5
  encoding: unicode

development:
  <<: *common
  database: jkerncoins_development

test:
  <<: *common
  database: jkerncoins_test

production:
  <<: *common
  database: jkerncoins_production

